version: "3.3"

services:
  database: 
    image: postgres
    container_name: database_dbdrinks
    restart: always
    ports: 
      - 5432:5432
    environment:
      - POSTGRES_USER=dbdrinks_user
      - POSTGRES_PASSWORD=123456
      - POSTGRES_DB=dbdrinks_db
    volumes:
      - pgdata:/data/postgres

  redis:
    image: redis:alpine
    container_name: redis_dbdrinks
    ports: 
      - 6379:6379

volumes:
  pgdata:
    driver: local

networks:
  default:
    driver: bridge